ai-news-digest-bot.json
{
  "name": "# AI News Digest Bot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -800,
        -288
      ],
      "id": "4c1bee7c-644c-44da-ae7b-d180db342215",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fdeb98b0-c0aa-48b9-b006-46160112617b",
              "name": "RSS Kaynağı",
              "value": "['https://www.ntv.com.tr/son-dakika.rss','https://www.ntv.com.tr/ekonomi.rss','https://www.cnnturk.com/feed/rss/all/news','https://feeds.bbci.co.uk/turkce/rss.xml']",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        -288
      ],
      "id": "d84d8f14-e2f2-4838-86eb-22fc765bdc8b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ $json['[\\'RSS Kaynağı\\']'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        -272
      ],
      "id": "0efa6a79-5a96-44b4-a01e-3e2dfc64c5c2",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -96,
        -288
      ],
      "id": "c0c2d47f-de13-468a-9265-995bebeff9b8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "sendTo": "example@gmail.com",
        "subject": "Günlük Haber Özetleri:",
        "message": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        816,
        -480
      ],
      "id": "e9e0b538-2985-463b-a10a-54242d5ddb94",
      "name": "Send a message",
      "webhookId": "...",
      "credentials": {
        "gmailOAuth2": {
          "id": "...",
          "name": "..."
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "['RSS Kaynağı']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -400,
        -288
      ],
      "id": "f966bef4-dec7-48ec-9933-218884cc4fb0",
      "name": "Split Out"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=Bana aşağıdaki haber bilgilerinden sentezlenmiş günlük özet çıkart ve 300 kelime ile limitle:\n\n{{ $json.summary }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        416,
        -480
      ],
      "id": "47669124-51a6-4926-ba1f-e710ec0d7528",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "...",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "summary"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        208,
        -480
      ],
      "id": "0400bbd6-ce0d-499c-b0ff-adf770a01a90",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "maxItems": 20,
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        416,
        -272
      ],
      "id": "41e44b2c-8f30-49d4-a4e3-0e3901a207b8",
      "name": "Limit"
    },
    {
      "parameters": {
        "chatId": "your_cha_ıd",
        "text": "=Günlük Haber Özeti:\n{{ $json.content.parts[0].text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        -224
      ],
      "id": "1279bbfe-d3bf-44b0-9314-a30347c1e5e9",
      "name": "Send a text message",
      "webhookId": "...",
      "credentials": {
        "telegramApi": {
          "id": "...",
          "name": "..."
        }
      }
    }
  ],
  "pinData": {
    "Message a model": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "....",
                "thoughtSignature": "...."
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7d3b895e-9a1b-48c6-b8ca-c3816d7da27b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "..."
  },
  "id": "BKrvR9FlH3bZsWNg",
  "tags": []
}